.form-container {
    margin: auto;
    margin-bottom: 1.5vh;

    width: 30vw;
    max-width: 650px;
    min-width: 450px;

    border: solid;
    border-color: #DBDBDB;
    border-width: 1px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
    padding: 20px 10px;
}

.form-container input {
    width: 70%;
    padding: 8px;
    border: solid;
    border-width: 1px;
    border-color: #DBDBDB;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.form-container button {
    background-color: rgb(58, 157, 223);
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-container button:hover {
    background-color: rgb(102, 180, 232);
}

.error-msg {
    color: red;
    font-size: 14px;
}