.postcard {
    margin: auto;
    padding: 10px 0;
    width: 470px;
    margin-bottom: 4vh;

    border: solid;
    border-color: #DBDBDB;
    border-width: 1px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.body {
    background-color: #e9f0f9;
    padding: 5px 20px;
}

.body p {
    word-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.footer svg {
    font-size: 25px;
    cursor: pointer;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.liked {
    color: red;
}