.postcard {
    margin: auto;
    padding: 10px 0;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 4vh;
}

.body {
    background-color: #e9f0f9;
    padding: 5px 20px;
}

.body p {
    word-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.footer svg {
    font-size: 25px;
    cursor: pointer;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
}